# Ignored vscode files
.vscode/

# SSH Keys
*.pem
*.crt
*.csr
*.srl
*.key

# Backup files
*.backup
*.back
*.bac
*.bkp

# Exclude all binaries
*.bin
*.jar
*.tar
*.zip
*.gzip
*.tgz

# Try tyo avoid any plain-text passwords 
*pwd*
*pass*
*password*
*.txt

# Terraform
# Complited files
**/.terraform/*
*terraform.tfvars
*.terraform
*.terraform.lock.hcl
*terraform.tfstate*
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Module directory
*.terraform/

# Ansible
# runtime and backups
*.log
*.retry
*.original
*.tmp
